# Entornos virtuales
venv/
.env

# Datos y modelos pesados (No subir a GitHub)
*.pkl
*.joblib

# Jupyter Notebooks
.ipynb_checkpoints/

# Python compilado
__pycache__/
*.pyc

# Archivos temporales de DuckDB y Python
*.tmp
*.tmp.*
*.wal
*.tmp_duckdb*

# Archivos Parquet generados
data/raw/.cache_*
data/normalized/*.parquet
data/enriched/*.parquet
data/normalized/fact/*.parquet