# Entornos virtuales
venv/
.venv

# Datos y modelos pesados (No subir a GitHub)
*.pkl
*.joblib

# Jupyter Notebooks
.ipynb_checkpoints/

# Python compilado
__pycache__/
*.pyc

# Archivos temporales de DuckDB y Python
*.tmp
*.tmp.*
*.wal
*.tmp_duckdb*

# Datos generados por el pipeline
data/**/*.parquet

# Bases de datos locales
*.duckdb
*.duckdb.wal